{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {%if messages %}
        {%for message in messages%}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <div class="card card-body">
            <form action="/add_reserva" method="POST">
                <div class="form-group">
                    <input type="text" name = "nombre" placeholder="Nombre Reserva" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-select"name ="tipo" aria-label="Default select example">
                        <option selected>tipo de Reserva</option>
                        <option value="piscina">piscina</option>
                        <option value="Quincho">Quincho</option>
                        <option value="Sala de eventos">Sala de eventos</option>
                      </select>
                </div>
                <div class="form-group">
                    <input type="date" name = "fecha" placeholder="fecha de la reserva" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm ">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Tipo</td>
                    <td>fecha</td>
                    <td>operaciones</td>
                </tr>
            </thead>
            <tbody>
              {%for reserva in reservas %}  
              <tr>
                <td>{{reserva.1}}</td>
                <td>{{reserva.2}}</td>
                <td>{{reserva.3}}</td>
                <td>
                    <a href="/edit/{{reserva.0}}" class="btn btn-secondary">Editar</a>
                    <a href="/mover-datos/{{reserva.0}}" class="btn btn-danger">Anular</a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
        </table>
    </div>
</div>








{% endblock %}